<!doctype>
<html ng-app="StockApp">
    <head>
        <title>Stock</title>
        <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body>
        <h1>Stock</h1>
        <div ng-controller="StockCtrl as stockCtrl">
            <p ng-if="stockCtrl.products.length === 0">
                El stock está vacío
            </p>
            <ul>
                <li ng-repeat="pr in stockCtrl.products | orderBy:'name'">
                    {{pr.name}} [x{{pr.amount}}]
                </li>
            </ul>
        </div>
    </body>
</html>